
module my-kdumpctl 1.0;

require {
	type kdumpctl_t;
	type var_log_t;
	class dir { add_name write };
	class file create;
}

#============= kdumpctl_t ==============
allow kdumpctl_t var_log_t:dir { add_name write };
allow kdumpctl_t var_log_t:file create;
